---
import {ProjectCreatorForm} from "../components/functional/ProjectCreatorForm";
import ProjectList from "../components/functional/ProjectList.astro";
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Projects" description="View your long term exposure projects or create new ones." hideNavBack>
    <h3 class="font-semibold mb-2">Projects</h3>

    <ProjectList />

    <h3 class="font-semibold mb-2 mt-4">Create new Project</h3>

    <ProjectCreatorForm client:visible />
</MainLayout>
