---
import "@/styles/globals.css"
import {VideoUploader} from "../components/functional/VideoUploader";
---

<script is:inline>
    const darkModePref = window.matchMedia('(prefers-color-scheme: dark)')
    darkModePref.addEventListener('change', e => {
        document.documentElement.classList[e.matches ? 'add' : 'remove']('dark');
    });
    document.documentElement.classList[darkModePref.matches ? 'add' : 'remove']('dark');
</script>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Long Term Exposure Imitator</title>
</head>
<body class="container py-4">
<h1 class="font-bold text-2xl">Long Term Exposure</h1>
<h6 class="text-muted-foreground">Create long term exposure pictures based on videos.</h6>
<VideoUploader client:only="react"/>
</body>
</html>
